<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://spring.io/images/favicon-9d25009f65637a49ac8d91eb1cf7b75e.ico" rel='shortcut icon'
          type='image/vnd.microsoft.icon'>
</head>
<body>

<style>
    body {
        height: 100vh;
        background: linear-gradient(
                to right,
                white 0%,
                white 15.25%,
                #f8f9fa 15.25%,
                #f8f9fa 100%
        );
    }
</style>

<div class=header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #31373e;">
        <a class="navbar-brand" style="color: white">
            <span class="font-weight-bold" th:text="${principalUser.email}"></span> with roles: <span
                th:text="${principalUser.toString()}"></span>
        </a>
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="row" style="padding-top: 75px; margin-right: 1px">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="true">User</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <h1>Admin panel</h1>

                <!--// Внутри вкладки Админ-->

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="user_table-tab" data-toggle="tab" href="#user_table" role="tab"
                           aria-controls="user_table" aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new_user-tab" data-toggle="tab" href="#new_user" role="tab"
                           aria-controls="new_user" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="user_table" role="tabpanel"
                         aria-labelledby="user_table-tab">
                        <table class="table border">
                            <thead>
                            <tr>
                                <th><h3 style="margin-left: 5px; padding-top: 5px">All users</h3></th>
                            </tr>
                            </thead>
                            <tbody style="background-color: white">
                            <tr>
                                <td>
                                    <table class="table table-striped table-responsive-md"
                                           style="background-color: white">
                                        <thead>
                                        <tr>
                                            <th> ID</th>
                                            <th> First Name</th>
                                            <th> Last Name</th>
                                            <th> Age</th>
                                            <th> Email</th>
                                            <th> Role</th>
                                            <th> Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="iUs : ${listUsers}">
                                            <td class="align-middle" th:text="${iUs.getId()}"></td>
                                            <td class="align-middle" th:text="${iUs.getName()}"></td>
                                            <td class="align-middle" th:text="${iUs.getSurname()}"></td>
                                            <td class="align-middle" th:text="${iUs.getAge()}"></td>
                                            <td class="align-middle" th:text="${iUs.getEmail()}"></td>
                                            <td class="align-middle" th:text="${iUs.toString}"></td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-info" data-toggle="modal"
                                                        data-target="#updateModalUser"
                                                        th:data-target="${'#updateModalUser'+iUs.id}">
                                                    Edit
                                                </button>


                                                <div class="modal fade" id="updateModalUser"
                                                     th:id="${'updateModalUser'+iUs.id}" tabindex="-1" role="dialog"
                                                     aria-labelledby="deleteForModalUser"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="updateForModalUser">Delete
                                                                    User</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form class="form-flex" action="#" th:action="@{/admin/updateUser/{id}(id=${iUs.getId()})}"
                                                                  th:method="post"
                                                            th:object="${iUs}">
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">ID</h5>
                                                                        <label class="col">
                                                                            <input disabled type="text"
                                                                                   name="id"
                                                                                   th:value="${iUs.id}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">First name</h5>
                                                                        <label class="col">
                                                                            <input type="text"
                                                                                   name="name"
                                                                                   th:value="${iUs.name}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Last name</h5>
                                                                        <label class="col">
                                                                            <input type="text"
                                                                                   name="surname"
                                                                                   th:value="${iUs.surname}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Age</h5>
                                                                        <label class="col">
                                                                            <input type="number" minlength="0"
                                                                                   maxlength="150"
                                                                                   name="age"
                                                                                   th:value="${iUs.age}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Email</h5>
                                                                        <label class="col">
                                                                            <input type="email"
                                                                                   name="email"
                                                                                   th:value="${iUs.email}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Password</h5>
                                                                        <label class="col">
                                                                            <input type="password"
                                                                                   name="password"
                                                                                   th:value="${iUs.password}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Role</h5>
                                                                        <label class="col">
                                                                            <select th:value="${iUs.roleSet}"
                                                                                    name="roleSet"
                                                                                    multiple class="form-control mb-3"
                                                                                    size="2" id="updateUser">
                                                                                <option th:each="role : ${roles}"
                                                                                        th:value="${role.id}"
                                                                                        th:text="${role.toString()}">
                                                                                </option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>


                                            <td class="align-middle">
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteModalUser"
                                                        th:data-target="${'#deleteModalUser'+iUs.id}">
                                                    Delete
                                                </button>
                                                <div class="modal fade" id="deleteModalUser"
                                                     th:id="${'deleteModalUser'+iUs.id}" tabindex="-1" role="dialog"
                                                     aria-labelledby="deleteForModalUser"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteForModalUser">Delete
                                                                    User</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form class="form-flex" action="#"
                                                                  th:action="@{/admin/deleteUser/{id}(id=${iUs.getId()})}">
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">ID</h5>
                                                                        <label class="col">
                                                                            <input disabled type="text"
                                                                                   th:value="${iUs.id}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">First name</h5>
                                                                        <label class="col">
                                                                            <input disabled type="text"
                                                                                   th:value="${iUs.name}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Last name</h5>
                                                                        <label class="col">
                                                                            <input disabled type="text"
                                                                                   th:value="${iUs.surname}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Age</h5>
                                                                        <label class="col">
                                                                            <input disabled type="number" minlength="0"
                                                                                   maxlength="150" th:value="${iUs.age}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Email</h5>
                                                                        <label class="col">
                                                                            <input disabled type="email"
                                                                                   th:value="${iUs.email}"
                                                                                   class="form-control mb-3">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div style="text-align: center" class="mx-auto">
                                                                        <h5 class="font-weight-bold">Role</h5>
                                                                        <label class="col">
                                                                            <select disabled th:value="${iUs.roleSet}"
                                                                                    multiple class="form-control mb-3"
                                                                                    size="2" id="deleteUser">
                                                                                <option th:each="role : ${iUs.roleSet}"
                                                                                        th:value="${role.id}"
                                                                                        th:text="${role.toString()}">
                                                                                </option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-danger">
                                                                        Delete
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--// раздел между ТАБЛИЦЕ ЮЗЕРОВ И ДОБАВЛЕНИЕМ-->

                    <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="new_user-tab">
                        <table class="table border text-align-center">
                            <thead>
                            <tr>
                                <th><h3 style="margin-left: 5px; padding-top: 5px">Add new user</h3></th>
                            </tr>
                            </thead>
                            <tbody style="background-color: white">
                            <tr>
                                <td style="text-align: center">
                                    <form class="form-flex" action="#" th:action="@{/admin/saveUser}"
                                          th:object="${user}"
                                          method="POST">
                                        <div class="form-row">
                                            <div class="col-4 mx-auto">
                                                <h5 class="font-weight-bold">First name</h5>
                                                <label class="col">
                                                    <input type="text" th:field="*{name}"
                                                           placeholder="First name" class="form-control mb-3">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-4 mx-auto">
                                                <h5 class="font-weight-bold">Last name</h5>
                                                <label class="col">
                                                    <input type="text" th:field="*{surname}"
                                                           placeholder="Last name" class="form-control mb-3">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-4 mx-auto">
                                                <h5 class="font-weight-bold">Age</h5>
                                                <label class="col">
                                                    <input type="number" minlength="0" maxlength="150" th:field="*{age}"
                                                           placeholder="Age" class="form-control mb-3">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-4 mx-auto">
                                                <h5 class="font-weight-bold">Email</h5>
                                                <label class="col">
                                                    <input type="email" th:field="*{email}"
                                                           placeholder="Email" class="form-control mb-3">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-4 mx-auto">
                                                <h5 class="font-weight-bold">Password</h5>
                                                <label class="col">
                                                    <input type="password" th:field="*{password}"
                                                           placeholder="Password" class="form-control mb-3">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-4 mx-auto">
                                                <h5 class="font-weight-bold">Role</h5>
                                                <label class="col">
                                                    <select th:field="*{roleSet}" multiple class="form-control mb-3"
                                                            size="2" id="newUserFormControl">
                                                        <option th:each="role : ${roles}"
                                                                th:value="${role.id}"
                                                                th:text="${role.toString()}">
                                                        </option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--// раздел между АДМИН И ЮЗЕР-->

            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <h1>User information-page</h1>
                <table class="table border">
                    <thead>
                    <tr>
                        <th><h3 style="margin-left: 5px; padding-top: 5px">About user</h3></th>
                    </tr>
                    </thead>
                    <tbody style="background-color: white">
                    <tr>
                        <td>
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th> ID</th>
                                    <th> First Name</th>
                                    <th> Last Name</th>
                                    <th> Age</th>
                                    <th> Email</th>
                                    <th> Role</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td class="align-middle" th:text="${principalUser.id}"></td>
                                    <td class="align-middle" th:text="${principalUser.name}"></td>
                                    <td class="align-middle" th:text="${principalUser.surname}"></td>
                                    <td class="align-middle" th:text="${principalUser.age}"></td>
                                    <td class="align-middle" th:text="${principalUser.email}"></td>
                                    <td class="align-middle" th:text="${principalUser.toString()}"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>
</html>

